version: '3.9'

services:
  app:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: geofence-test-app
    ports:
      - '3000:3000'
    environment:
      NODE_ENV: production
    command: ['node', 'dist/main.js']
